<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/projetos.css">
        <% if (typeof pageCss !== 'undefined') { %>
        <style>
            <%= pageCss %>
        </style>
        <% } %>
</head>

<body>
    <%- include('partials/header') %>
        <section id="projetos">
            <div>
                <h2>
                    <%= titulo %>
                </h2>
                <hr>
            </div>
            <div class="habilidades-texto">
                <p>Durante minha trajetória acadêmica, acumulei mais de um ano de experiências em projetos e práticas da
                    faculdade, o que me proporcionou contato direto com desenvolvimento de aplicações e resolução de
                    problemas reais. Confira abaixo!</p>
                <br>
                <h4>Clique em um projeto para saber mais.</h4>
            </div>
            <div class="projetos-cards">
                <% projetos.forEach(projeto=> { %>
                    <a class="card" href="/projetos/<%= projeto.id %>">
                        <img src="<%= embed(projeto.imagem) %>">
                        <h4>
                            <%= projeto.titulo %>
                        </h4>
                    </a>
                    <% }) %>
            </div>
        </section>
</body>

</html>