<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto | <%= titulo %>
  </title>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/css/projetos-detalhes.css">
  <% if (typeof pageCss !== 'undefined') { %>
    <style>
      <%= pageCss %>
    </style>
  <% } %>
</head>

<body>
  <section id="projetos">
    <a href="/projetos" class="voltar">← Voltar aos projetos</a>
    <div class="projeto-header">
        <h2>
          <%= projeto.titulo %>   
        <% if (projeto.semestre) { %>
        </h2><span>-</span>
          <p>
            <%= projeto.semestre %>
          </p>
        <% } %>
    </div>
  <img src="<%= embed(projeto.imagem) %>" alt="<%= projeto.titulo %>" class="projeto-imagem">
    <div class="descricao">
      <% if (projeto.problema) { %>
        <p><span class="titulo">Problema: </span>
          <%= projeto.problema %>
        </p>
      <% } %>
      <% if (projeto.solucao) { %>
        <p><span class="titulo">Solução: </span>
          <%= projeto.solucao %>
        </p>
      <% } %>
    </div>
    <div class="contribuicoes">
      <h3 style="font-size: 30px">Minhas Contribuições</h3>
      <% if (projeto.papel) { %>
        <p><span class="titulo">Papel: </span>
          <%= projeto.papel %>
        </p>
      <% } %>
      <% if (projeto.contribuicao) { %>
        <p><span class="titulo">Ações: </span>
          <%= projeto.contribuicao %>
        </p>
      <% } %>
    </div>
    <div class="tecnologias">
      <h3 style="font-size: 30px">Tecnologias utilizadas</h3>
      <ul>
        <% projeto.tecnologias.forEach(tec=> { %>
          <li class="tecnologia">
            <%= tec %>
          </li>
          <% }) %>
      </ul>
    </div>
    <div class="skills">
      <h3 style="font-size: 30px">Competências adquiridas</h3>
      <% if (projeto.softSkills) { %>
        <h4>Soft-skills adquiridas:</h4>
        <ul>
            <% projeto.softSkills.forEach(skill=> { %>
              <li class="skill">
                <span class="titulo"><%= skill.titulo %>: </span><%= skill.descricao %>
              </li>
            <% }) %>
        </ul>
      <% } %>
      <h4>Hard-skills adquiridas:</h4>
      <ul>
        <% if (projeto.hardSkills) { %>
          <% projeto.hardSkills.forEach(skill=> { %>
            <li class="skill">
              <span class="titulo"><%= skill.titulo %>: </span><%= skill.descricao %>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </div>
    <div class="links">
      <h3 style="font-size: 30px">Links</h3>
      <div>
        <% if (projeto.github) { %>
          <button>
            <a href="<%= projeto.github %>" target="_blank">Ver no GitHub</a>
          </button>
        <% } %>
        <% if (projeto.youtube) { %>
          <button>
            <a href="<%= projeto.youtube %>" target="_blank">Ver no Youtube</a>
          </button>
        <% } %>
      </div>
    </div>
  </section>
</body>

</html>